{
  "plugins": ["@theforeman/foreman"],
  "extends": ["plugin:@theforeman/foreman/core", "plugin:@theforeman/foreman/plugins"],
    "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
