---
include:
  - project: 'orcharhino/foreman_components/foreman_testing_ci_template'
    file: 'plugin.gitlab-ci.yml'
    ref: '3.5.0'

variables:
  FOREMAN_VERSION:
    value: "develop_with_ts"
...
