---
include:
  - project: 'orcharhino/foreman_components/foreman_testing_ci_template'
    file: 'plugin.gitlab-ci.yml'
    ref: '3.9.3'

variables:
  FOREMAN_VERSION:
    value: "foreman_with_ts"
  JS_TEST_OPTIONS: "--ci --reporters=default --reporters=jest-junit --verbose --passWithNoTests"
...
